body{
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    width: 100%;
    font-family:cursive;
}

.data-container{
    background-color: white;
    width: 50%;
    height: 500px;
    margin: 7% 25%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(45, 45, 45, 0.7);
}

p{
    font-size: 45px;
    left: 30%;
    top: 10%;
    position: relative
}

img{
    width: 70%;
    height: 50%;
    left: 15%;
    top: 10%;
    position: relative;
    box-shadow: 0px 0px 20px rgba(45, 45, 45, 0.7);
}